@page
@model Slijterij_Sjonnie_Loper.Pages.Whiskey.DetailsModel
@{
}




<h1 style="text-align:center">@Model.Whiskey.Name</h1>

<div>
    <table>
        <tr>
            <td>
                imgage
            </td>
        </tr>
        <tr>
            <td>
                age : @Model.Whiskey.Age
            </td>
            <td>
                Area Of production : @Model.Whiskey.Area.Name
            </td>
            <td>
                alcholpercentage : @Model.Whiskey.Percentage
            </td>
        </tr>
        <tr>
            <td>
                kind : @Model.Whiskey.Kind
            </td>
            <td>
                price : @Model.Whiskey.Price
            </td>
            <td>
                In Stock : @Model.Whiskey.Supply
            </td>
            @*<td>
                    in Stock : @if(Model.Whiskey.Supply > 0) {@ViewBag.yes}
                    else { @ViewBag.no}
                </td>*@
        </tr>
    </table>
</div>

<a asp-page="./Index">Return</a>
@if (User.Claims.First(c => c.Type == "Role").Value == "Staff")
{
    <td><a asp-page="./Edit" asp-route-WhiskeyId="@Model.Whiskey.Id">Edit Data</a></td>
    if (Model.Whiskey.isDeleted == false)
    {
        <td><a asp-page="./Delete" asp-route-WhiskeyId="@Model.Whiskey.Id">Delete</a></td>
    }
    else
    {
        <td><a asp-page="./RevDelete" asp-route-WhiskeyId="@Model.Whiskey.Id">Revert Delete</a></td>
    }
}
