@page
@model Slijterij_Sjonnie_Loper.Pages.Whiskey.DetailsModel
@{
}





<h1 style="text-align:center">@Model.Whiskey.Name</h1>
<div style="text-align:center" >
    <img src="~/Images/@Model.Whiskey.Imagedata" alt="Image test"/>
</div>

<div>
    <table style="text-align:center" align="center" border="0">
        <tr>
            <td width="200">
                Age : @Model.Whiskey.Age years
            </td>
            <td width="350">
                Area of production : @Model.Whiskey.Area.Name
            </td>
            <td  width="200">
                Alcholpercentage : @Model.Whiskey.Percentage%
            </td>
        </tr>
        <tr >
            <td>
                Type : @Model.Whiskey.Kind
            </td>
            <td>
                Price : $@Model.Whiskey.Price
            </td>
            <td>
                In stock : @Model.Whiskey.Supply
            </td>
            @*<td>
                    in Stock : @if(Model.Whiskey.Supply > 0) {@ViewBag.yes}
                    else { @ViewBag.no}
                </td>*@
        </tr>
    </table>
</div>

<div style="text-align:center">
    <br />
    <a asp-page="./Index" class="btn btn-outline-dark">Return to list</a>
    &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.Claims.First(c => c.Type == "Role").Value == "Customer")
        {
            <a asp-page="./Reservation" class="btn btn-primary" asp-route-WhiskeyId="@Model.Whiskey.Id">Reserve</a>
        }
        @if (User.Claims.First(c => c.Type == "Role").Value == "Staff")
        {
            <a asp-page="./Edit" class="btn btn-outline-dark" asp-route-WhiskeyId="@Model.Whiskey.Id">Edit Data</a>
            <b>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</b>
            if (Model.Whiskey.isDeleted == false)
            {
                <a asp-page="./Delete" class="btn btn-danger" asp-route-WhiskeyId="@Model.Whiskey.Id">Delete</a>
            }
            else
            {
                <a asp-page="./DeleteRev" class="btn btn-danger" asp-route-WhiskeyId="@Model.Whiskey.Id">Revert Delete</a>
            }
         }
     }
</div>
