@page
@model Slijterij_Sjonnie_Loper.Pages.Whiskey.IndexModel
@{
}

<h1 style="text-align:center">Whiskey</h1>
<br />


@*@if (User.Identity.IsAuthenticated)
{
    <table class="table table-sm">
        @foreach(var claims in User.Claims)
        {
            <tr>
                <td>@claims.Type</td>
                <td>@claims.Value</td>
            </tr>
        }
    </table>
}*@


<form method="get">
    <table>
        <tr>
            @*<p style="text-align:center">*@
            <td>
                Name:
            </td>
            <td>
                <input type="text" asp-for="searchname" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                Age:
            </td>
            <td>
                <input type="text" value="@Model.agevalue" asp-for="searchage" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                Area:
            </td>
            <td>
                <select asp-for="searcharea"  onchange="javascript:this.form.submit()">
                    <option selected="selected" value="0">No Filter</option>
                    @foreach(var item in Model.Locations)
                    {
                        <option value="@item.Id"> @item.Name</option>
                    }
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        @*</p>
        <p style="text-align:center">*@
        <tr>
            <td>
                Type:
            </td>
            <td>

                <select asp-for="searchtype" asp-items="Html.GetEnumSelectList<Core.Kind>()" onchange="javascript:this.form.submit()">
                    <option selected="selected" value="0">No Filter</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                Alchol-Percentage:
            </td>
            <td>
                <input type="text" value="@Model.pervalue" asp-for="searchper" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
            </td>
            <td>
                <input type="submit" value="Filter" />
            </td>
        </tr>
        @*</p>*@
    </table>
</form>
<br />
<table class="table">
    <tr>
        <td><b>Name</b></td>
        <td><b>Age</b></td>
        <td><b>Area</b></td>
        <td><b>Kind</b></td>
        <td><b>Alchol percentage</b></td>
    </tr>
    @foreach (var whiskey in Model.Whiskeys)
    {
        string backgroundClass = "background - color:#FFFFFF";
        @if (User.Identity.IsAuthenticated)
        {
            if (User.Claims.First(c => c.Type == "Role").Value == "Staff" || whiskey.isDeleted == false)
            {
                if (whiskey.isDeleted == true)
                {
                    backgroundClass = "background-color:#FF0000";
                }

                <tr style="@backgroundClass">
                    <td>@whiskey.Name</td>
                    <td>@whiskey.Age</td>
                    <td>@whiskey.Area.Name</td>
                    <td>@whiskey.Kind</td>
                    <td>@whiskey.Percentage</td>
                    <td style="background-color: #ffffff"><a asp-page="./Details" asp-route-WhiskeyId="@whiskey.Id">Details</a></td>
                    <td style="background-color: #ffffff"><a asp-page="./Reservation" asp-route-WhiskeyId="@whiskey.Id">Reserve</a></td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.Claims.First(c => c.Type == "Role").Value == "Staff")
                        {
                            <td style="background-color: #ffffff"><a asp-page="./Edit" asp-route-WhiskeyId="@whiskey.Id">Edit Data</a></td>
                            if (whiskey.isDeleted == false)
                            {
                                <td style="background-color: #ffffff"><a asp-page="./Delete" asp-route-WhiskeyId="@whiskey.Id">Delete</a></td>
                            }
                            else
                            {
                                <td style="background-color: #ffffff"><a asp-page="./RevDelete" asp-route-WhiskeyId="@whiskey.Id">Revert Delete</a></td>
                            }
                        }
                    }
                </tr>
                }
            }
            else{
            <tr>
                    <td>@whiskey.Name</td>
                    <td>@whiskey.Age</td>
                    <td>@whiskey.Area.Name</td>
                    <td>@whiskey.Kind</td>
                    <td>@whiskey.Percentage</td>
            </tr>
            }
        }
    </table>