@page "{WhiskeyId:int}"
@model Slijterij_Sjonnie_Loper.Pages.Whiskey.ReservationModel
@{
}

<h1 class="col-10">Reservation for @Model.Whiskey.Name</h1>

<form method="post">
    <input type="hidden" asp-for="Whiskey.Id" />
    <div class="col-10">
        Name: @Model.Whiskey.Name
    </div>
    <div class="col-10">
        Age: @Model.Whiskey.Age
    </div>
    <div class="col-10">
        Area: @Model.AreaName
    </div>
    <div class="col-10">
        Alcohol Percentage: @Model.Whiskey.Percentage
    </div>
    <div class="col-10">
        Type: @Model.Whiskey.Kind
    </div>
    <div class="col-10">
        Price: @Model.Whiskey.Price
    </div>
    <div class="col-10">
        Supply: @Model.Whiskey.Supply
    </div>
    <br />
    <div class="col-5">
        <label>How many bottles do you want to reserve?</label>
        <input asp-for="Order.AmountBottles" min="1" />
        <span class="text-danger" asp-validation-for="Order.AmountBottles"></span>
    </div>
    <div class="col-10">
        <br />
        <button type="submit" class="btn btn-primary">Reserve</button>
        |
        <a asp-page="./Index" class="btn btn-outline-dark">Go back to list</a>
    </div>
</form>

<br />


